@import "~bootstrap/scss/bootstrap.scss";

/*

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/

.container{
    margin-top: 20px;
    background: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row{
    margin-left: 50px;
    margin-right: 50px;
}

.col-sm{
    background: #0E0E0E;
    font-size: 100px;
    color: white;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    border-color: #161616;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 6px;
    margin-right: 6px;
}